---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/contact-form.astro";
import ContactCard from "../components/ContactCard.astro";
const pageTitle = "Contact";
---

<Layout title={pageTitle}>
  <main class="bg-black text-white">
    <section class="mx-auto max-w-5xl px-4 py-16">
      <header class="mb-10 text-center">
        <h1 class="text-3xl font-semibold tracking-tight">
          Get in touch with me
        </h1>
        <p class="mt-2 text-xl text-gray-300"></p>
      </header>

      <div class="grid gap-8 md:grid-cols-5">
        <div class="md:col-span-2">
          <ContactCard
            title="Contact Information"
            name="Jonathan Furlong"
            email="hqif@iclloud.com"
            phone="416 505 8553"
            image="https://res.cloudinary.com/didltutgq/image/upload/v1758914310/ChatGPT_Image_Sep_26_2025_03_18_02_PM_qfdnac.png"
            website="https://jonathanfurlongdesign.com/"
            socials={[
              {
                label: "LinkedIn",
                href: "https://www.linkedin.com/in/jonathanfurlong/?originalSubdomain=ca",
              },
            ]}
          />
        </div>

        <div class="md:col-span-3">
          <ContactForm />
        </div>
      </div>
    </section>
  </main>
</Layout>
