---
import Navbar from "../components/Navbar.astro";

import Hero from "../components/Hero.astro";
import ImageCarousel from "../components/ImageCarousel.astro";
import Layout from "../layouts/Layout.astro";
import HeroShowcase from "../components/HeroShowcase.astro";

const images = [
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756476879/FullSizeRender_zixarr.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Master Bath Room</h2><p>Render of Master Bathroom.</p>',
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756477933/IMG_2702_blv7ge.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Dining Room - Niagra</h2><p>Full home decoration project in Niagara — blending style, comfort, and timeless design.</p>',
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756479602/IMG_3413_kfq4dh.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Lakeside Drive - Living Room </h2><p>Full home decoration project in Lakeside — blending style, comfort, and timeless design.</p>',
  },

  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756481525/IMG_3773_v7u44f.jpg",
    alt: "Commercial",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Padella Italian Eatery</h2><p>A full Italian restaurant decoration project in Toronto, thoughtfully designed to create a welcoming and stylish dining atmosphere. -</p>',
  },
  {
    src: "  https://res.cloudinary.com/didltutgq/image/upload/v1756483047/IMG_2844_v2vnrl.jpg",
    alt: "Comercial",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Joga House - Boutique Yoga Studio</h2><p>“Interior design for Joga House, a boutique yoga studio thoughtfully crafted to inspire calm, focus, and balance.</p>',
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756484333/IMG_0010_juy4pt.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Raymar Home</h2><p>Full home decoration project — featuring modern interiors, artistic wall displays, and a seamless open-concept design </p>',
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756489522/IMG_6404_y2cqux.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Port credit - Home</h2><p>Full home decoration project in Port Credit — blending style, comfort, and timeless design.</p>',
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756490122/IMG_3279_n94j7o.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Forest Hill - Living Room</h2><p>Full home decoration project in Forest Hill — blending style, comfort, and timeless design.</p>',
  },
  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756490298/IMG_3227_1_nwlpua.jpg",
    alt: "Comercial",
    detail:
      '<h2 class="text-xl font-semibold mb-2"></h2><p>Contemporary restaurant lounge — blending clean lines, statement lighting, and cozy fireplace accents.</p>',
  },

  {
    src: "https://res.cloudinary.com/didltutgq/image/upload/v1756490423/IMG_6792_mydszb.jpg",
    alt: "Residential",
    detail:
      '<h2 class="text-xl font-semibold mb-2">Brant st Penthouse </h2><p>Full Condo Penthouse decoration project in Brant St Hill — blending style, comfort, and timeless design</p>',
  },
  /*{
    src: "",
    alt: "",
    detail: '<h2 class="text-xl font-semibold mb-2"></h2><p></p>',
  },*/
];

const navItems = [
  { href: "/about", label: "About" },
  { href: "/media", label: "Media" },
  { href: "/blog", label: "Blog" },
];

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Navbar
    items={navItems}
    brand={{
      name: "MySite",
      href: "/",
      logoSrc: "src/assets/logo.png",
      alt: "MySite logo",
    }}
    cta={{ label: "Contact", href: "/Contact" }}
    currentPath={Astro.url.pathname}
  />

  <Hero
    title="Where Vision Meets Elegance"
    subtitle="For over two decades, I’ve been crafting interiors that balance sophistication, comfort, and individuality—delivering spaces that leave a lasting impression."
    ctaText="Book a Consultation"
    ctaLink="/contact"
    imageUrl="https://res.cloudinary.com/didltutgq/image/upload/v1756395552/IMG_2026_abu8nh.jpg"
  />
  <HeroShowcase
    imageSrc="/images/mono-shelves.jpg"
    imageAlt="Modern built-in shelves and fireplace"
    headline="THAT GREAT DESIGN"
    accent="is forever"
    copy="We craft holistic spaces that balance function and calm. Monochrome materials, quiet textures, and refined details tell your story with restraint."
    name="Isabelle B."
    title="Principal / Founder"
    ctaLabel="Learn More"
    ctaHref="/about"
  />

  <ImageCarousel images={images} title="The Collection" />
</Layout>
